/* Light Mode Defaults */
:root {
  /* Colors */
  --color-primary: #e34e09;      
  --color-text-base: #431e07;
  --color-text-light: #f8f9fa;
  --color-background: #fff1c0;     
  --color-surface: #f8f9fa;        
  --color-border: #dee2e6;        
  --spacing-unit: 8px; 
}
  
/* Dark Mode Theme -- Overrides the default light mode */
.dark-mode {
  --color-primary: #58a6ff;        
  --color-text-base: #f0f6fc;      
  --color-text-light: #212529;     
  --color-background: #0d1117;     
  --color-surface: #161b22;        
  --color-border: #30363d;        
}

header p {
    text-align: center;
}

.featuredPets {
    font-size: 30px;
}

.gray {
    background-color: gray;
    display: flex;
    width: 100%;
    max-width: inherit;
    margin-bottom: 10px;
}

.pink {
    background-color: pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pink img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 200px;
    height: 200px;
}